@import '../../assets/sass/main';

///////////////////////////////// 
///// project listing /////////// 

.project{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
    background-color: $color-grey-light-1;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);

    &-container{
        width: 70%;
    }

    &-title{
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
    }

    &-hr{
        width: 10rem;
        height: 2px;
        background-color: $color-primary;
        margin-right: 2rem;
    }

    &-heading{
        
    }


    //////////////////////////////////////////////// 
    /////////// project grid listing /////////////
    &-list{
        display: grid;
        grid-auto-rows: 20vw;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
        margin-bottom: 2.5rem;

        &-item{
            position: relative;    
        }
    }

    &-card{
        width: 100%;
        height: 100%;

        &-side{
        position: absolute;
        left: 0;
        top: 0;    
        width: 100%;
        height: 100%;
        border-radius: 5px;
        font-family: 'Inconsolata', monospace;
        backface-visibility: hidden;
        overflow: hidden;
        cursor: pointer;
        transition: all .8s ease;

        &__front{
            width: 100%;
            height: 100%;
            background-blend-mode: screen;
            background-position:  center;
            background-size: cover;

            &-1{
                background-image:linear-gradient(to right,$color-primary-light, $color-primary-dark), url('../../assets/images/img-1.png');
            }

            &-2{
                background-image:linear-gradient(to right,$color-primary-light, $color-primary-dark), url('../../assets/images/img-2.png');
            }

            &-3{
                background-image:linear-gradient(to right,$color-primary-light, $color-primary-dark), url('../../assets/images/img-3.png');
            }

            &-4{
                background-image:linear-gradient(to right,$color-primary-light, $color-primary-dark), url('../../assets/images/img-4.png');
            }
        }

        &__back{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            color: $color-white;
            padding: 1.5rem;
            background-image:linear-gradient(to right,$color-primary-light, $color-primary-dark);
            background-position:  center;
            background-size: cover;
            transform: rotateY(180deg);
        }

        }

        &:hover &-side__front{
            transform: rotateY(-180deg);
        }

        &:hover &-side__back{
            transform: rotateY(0deg);
        }

        &-title{
            font-size: 2.5rem;
            letter-spacing: 1.2px;
            margin-bottom: 1rem;
            text-transform: uppercase;  
        }

        &-tech{
            font-size: 1.8rem;
            font-weight: 300;
            text-transform: uppercase;
        }

        &-description{
            list-style: none;
            color: $color-grey-light-1;

            &>*:not(:last-child){
                margin-bottom: .5rem;
            }

            &__item{

                

                &-title{
                    text-transform: uppercase;
                    font-size: 1.5rem;
                }

                &-value{
                    font-size: 1.3rem;
                    margin-left: .5rem;
                }
            }
        }
    }

    &-btn{
        text-align: center;
    }
}