.heading-primary{
    font-family: 'Inconsolata', monospace;
    font-size: 2.8rem;
    font-weight: 400;

    @media screen and (max-width: $medium) {
        font-size: 2.6rem;
    }
    
    @media screen and (max-width: $small) {
    padding: 2.4rem; 
    }
    
    @media screen and (min-width: $extra-large) {
    font-size: 3rem;
    }
}

.heading-secondary{
    font-family: 'Inconsolata', monospace;
    font-size: 2.8rem;
    font-weight: 300;

    @media screen and (max-width: $medium) {
        font-size: 2.6rem;
    }
    
    @media screen and (max-width: $small) {
    padding: 2.4rem; 
    }
    
    @media screen and (min-width: $extra-large) {
    font-size: 3rem;
    }
}