///////////////////// 
//// colors ////////

$color-primary-light: #515FF8; 
$color-primary: #4830E6;
$color-primary-dark: #2E1DA2;

$color-dark: #000026;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #E2E3E7;

$color-grey-dark: #333;
$color-grey-dark-1: #4C4C65;


$default-font-size: 1.4rem;