@import '../../assets/sass/main';


.header{
    background-image: linear-gradient(to right, $color-white 70%, $color-primary 30%);
    padding:0 2.5rem;

    @media screen and (max-width: $small) {
        background: linear-gradient(to right, $color-white 70%, $color-white 30%);
      }
}


///////////////////////////////////////// 
//////// MENU ///////////////////////////
//////////////////////////////////////// 
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, $color-white 70%, $color-primary 30%);
    padding: 2.5rem;

    @media screen and (max-width: $medium) {
         
      }
    
      @media screen and (max-width: $small) {
        
      }
    
      @media screen and (min-width: $extra-large) {
        
      }

   a{
        text-decoration: none;
    }

    &-name{
        display: inline-flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 400;
        font-family: 'Inconsolata', monospace;
        color: $color-grey-dark-1;
        cursor: pointer;

        &::after{
            content: '';
            display: inline-block;
            width: 5rem;
            height: 2.5px;
            background-color: $color-grey-dark-1;
            margin-left: .5rem;
            transition: all .3s;
        }

        &:hover::after{

            width: 7rem;
            height: 1.5px;
            background-color: $color-primary;
        }
    }

    ///////////////////////////////////
    ////// toggle  icon //////////////
    &-icon{
        position: relative;
        input{
            visibility: hidden;
            opacity: 0;
            z-index: 10;
        }

        &-bar{
            position: relative;
            width: 2rem;
            z-index: 10;

            &, &::before, &::after{
            background-color: #fff;
            display: inline-block;
            height: 1.5px;
            border-radius: 2px;
            transition: all .3s;
        }

        &::before{
            content: '';
            width: 1rem;
            position: absolute;
            top: .5rem;
            left: 1rem;
        }

        &::after{
            content: '';
            width: 1.5rem;
            position: absolute;
            top: 1rem;
            left: .5rem;
        }
    }

    input:checked + label &-bar{
        transform: rotate(45deg);
        transform-origin: center;

        &::before{
            width: 0;
            height: 0;
        }

        &::after{
            width: 2rem;
            transform: rotate(270deg);
            transform-origin: center;
            left: 0;
            top: 0;
        }
    }

    }

    ///////////////////////////////
    ////// right side menu //////
    &-side{
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        opacity: 0;
        height: 100vh;
        background-image: linear-gradient(to left, $color-primary-light, $color-primary-dark);
        z-index: 5;
        padding-top: 10rem;
        padding-left: 3rem;
        font-family: 'Inconsolata', monospace;
        transition: all .3s;

        &-item{
            list-style: none;
        }

        &-list Link, &-list a{

            color: $color-white;
            display: inline-block;
            margin-bottom: 1.5rem;
            font-size: 1.6rem;
            cursor: pointer;
            text-decoration: none;
            transition: all .3s;
            text-transform: uppercase;

            &:active, &:hover{
                color: $color-grey-light-1;
            }
        }
    }
}

 /////////////////////////////////
    ////////// show side menu /////
    .menu-icon input:checked ~ .menu-side{
        opacity: 1;
        width: 45%;
    }


/////////////////////////////////////////////// 
///////////////// profile description  (Home.js) ////////// 

.home{
    display: flex;
    align-items: center;
    padding: 5rem 0;
    &-contact{
        list-style: none;
        margin-right: 3%;
        border: .5px $color-primary solid;
        border-radius: 3rem;
        box-shadow: 0 3rem 6rem rgba($color-primary, .15);
        padding: 1.5rem;

        @media screen and (max-width: $medium) {
            padding: 1;
            border-radius: 2.5rem;
        }
      
        @media screen and (max-width: $small) {
          
        }

        @media screen and (min-width: $extra-large) {
            
        }

        &>*:not(:last-child){
            margin-bottom: 4rem;

            @media screen and (max-width: $medium) {
                margin-bottom: 3rem;
            }
          
            @media screen and (max-width: $small) {
              
            }
    
            @media screen and (min-width: $extra-large) {
                
            }
    
        }

        &-item{
            writing-mode: vertical-rl;
            font-family: 'Inconsolata', monospace;
            color: $color-grey-dark-1;
            font-size: 2.0rem;
            width: 2.5rem;
            cursor: pointer;
            transition: all .3s;

            @media screen and (max-width: $medium) {
                width: 2.2rem;
            }
          
            @media screen and (max-width: $small) {
              
            }
    
            @media screen and (min-width: $extra-large) {
                
            }
    

            &:hover{
                transform: scale(1.2);
            }

            a{

                img{
                    width: 100%;
                }
            }
        }
    }

    &-profile{
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $small) {
           flex-direction: column;      
        }

        &-img{
            margin-right: 5%;
            width: 30%;

            @media screen and (max-width: $medium) {
                width: 50%;
            }
          
            @media screen and (max-width: $small) {
              order: -1;
              width: 10rem;
            //   height: 10rem;
              margin-right: 0;
            }
          
            @media screen and (min-width: $extra-large) {
                width: 30%;
                margin-right: 5%;
            }

            img{
                width: 100%;

                @media screen and (max-width: $small) {
                    width: 100%;
                    border-radius: 1rem;
                  }
            }
        }
    }

    &-description{
        margin-right: 5%;
        flex: 1;

        @media screen and (max-width: $medium) {
            
        }
      
        @media screen and (max-width: $small) {
          margin-right: 0;
          margin-top: 2rem;
        }
      
        @media screen and (min-width: $extra-large) {
            margin-right: 15%;  
        }

        &-text{
            font-size: 2rem;
            line-height: 1.6;
            margin-bottom: 2rem;
            font-style: italic;
            letter-spacing: 1.1px;

            @media screen and (max-width: $medium) {
                font-size: 1.8rem;
            }
          
            @media screen and (max-width: $small) {
              font-size: 1.3rem;
            }

            @media screen and (min-width: $extra-large) {
                
            }
        }

    }

    &-headings{
        @media screen and (max-width: $small) {
            display: none;
          }
    }

    &-heading{
        margin-bottom: 2rem;
        font-size: 4rem;
        font-weight: 400;
        font-family: 'Inconsolata', monospace;
        color: $color-grey-dark-1;
        letter-spacing: 2px;
        
        @media screen and (max-width: $medium) {
            font-size: 3.6rem;
        }
      
        @media screen and (max-width: $small) {
          font-size: 1.6rem;
        }
        @media screen and (min-width: $extra-large) {
            font-size: 4rem;  
            margin-bottom: 2rem;
        }

    }

    &-scroll a{
        display: flex;
        align-items: center;
        font-weight: 400;
        font-family: 'Inconsolata', monospace;
        margin-top: 3rem;
        font-size: 2rem;
        text-decoration: none;
        color: $color-black;
        cursor: pointer;

        span{

        }

        i{
            margin-left: .5rem;
            font-size: 1.8rem;
        }
    }
}