.header{
    height: 100vh;
    background: linear-gradient(to right, #fff 70%, #4830E6 30%);
    padding: 2.5rem;
}


///////////////////////////////////////// 
//////// MENU ///////////////////////////
//////////////////////////////////////// 
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-name{
        display: inline-flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: 'Inconsolata', monospace;
        color: #000026;
        cursor: pointer;

        &::after{
            content: '';
            display: inline-block;
            width: 5rem;
            height: 2.5px;
            background-color: #000026;
            margin-left: .5rem;
            transition: all .3s;
        }

        &:hover::after{

            width: 7rem;
            height: 1.5px;
            background-color: #4830E6;
        }
    }

    &-icon{

        input{
            visibility: hidden;
            opacity: 0;
        }

        &-bar{
            position: relative;
            width: 2rem;

            &, &::before, &::after{
            background-color: #fff;
            display: inline-block;
            height: 1.5px;
            border-radius: 2px;
            transition: all .3s;
        }

        &::before{
            content: '';
            width: 1rem;
            position: absolute;
            top: .5rem;
            left: 1rem;
        }

        &::after{
            content: '';
            width: 1.5rem;
            position: absolute;
            top: 1rem;
            left: .5rem;
        }
    }

    input:checked + label &-bar{
        transform: rotate(45deg);
        transform-origin: center;

        &::before{
            width: 0;
            height: 0;
        }

        &::after{
            width: 2rem;
            transform: rotate(90deg);
            transform-origin: center;
            left: 0;
            top: 0;
        }
    }

    }
}


/////////////////////////////////////////////// 
///////////////// profile description ////////// 

.home{
    display: flex;
    align-items: center;
    height: calc(100vh - 2.5rem);

    &-contact{
        list-style: none;
        margin-right: 10%;
        border: .5px #4830E6 solid;
        border-radius: 3rem;
        box-shadow: 0 2rem 4rem rgba(#000, .1);
        padding: 1.5rem;

        &>*:not(:last-child){
            margin-bottom: 4rem;
        }

        &-item{
            writing-mode: vertical-rl;
            font-family: 'Inconsolata', monospace;
            color: #000026;
            font-size: 2.0rem;
            width: 2.5rem;
            cursor: pointer;
            transition: all .3s;

            &:hover{
                transform: scale(1.2);
            }

            a{

                img{
                    width: 100%;
                }
            }
        }
    }

    &-profile{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &-img{
            margin-right: 10%;
            height: 70vh;

            img{
                height: 100%;
            }
        }
    }

    &-description{
        margin-right: 10%;

        &-text{
            font-size: 1.5rem;
            margin-top: 1rem;
            line-height: 1.6;
            margin-bottom: 3rem;
        }

    }

    &-heading{
        margin-bottom: 1rem;
        font-size: 3rem;
        font-weight: 400;
        font-family: 'Inconsolata', monospace;
        color: #000026;
        letter-spacing: 2px;

    }

    &-scroll{
        display: flex;
        align-items: center;
        font-weight: 400;
        font-family: 'Inconsolata', monospace;
        color: #000026;
        cursor: pointer;

        span{

        }

        i{
            margin-left: .5rem;
        }
    }
}